.flex-header {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-header > div {
    background-color: #f1f1f1;
    width: 1180px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-style: solid;
    
  }

  div.flexbody{
    display: flex;
    height: 400px; 
    font-size:30px;
    margin: 10px;
    max-width: 1180px;
    text-align: center;
    justify-content: center;
}

div.columns{
    flex: 1
}
div.columns:nth-of-type(odd){
    flex: 2;
      
}

div.columns:nth-of-type(odd){
    background-color: #f1f1f1;
    border: solid;
    width: 70%;
    margin-right: 10px;
}
div.columns:nth-of-type(even){
    background-color: #f1f1f1;
    border: solid;
    margin-left: 10px;
    width: 30%;
}

.footers {
    display: flex;
    background-color: #f1f1f1;
    margin: 10px;
    max-width: 1180px;
  }
  
  .footers > div {
    
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 30px;
    border: solid;
    width: 33.33%;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
  }